<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

    <div id="app">
        <h1>Type in your task here:</h1>
        <input @keyup.enter="addTask()" v-model.trim="text" maxlength="200" required>
        <br>
        Deadline:
        <input type="date" v-model.trim="deadline" :min="today" required>
        <br>

        <button @click="addTask()">add task</button>
        <br>
        <div>{{"#"}} {{" | "}} {{"task ID"}} {{" | "}} {{"task user text"}} {{" | "}}
            {{"task status"}}
        </div>

        <div v-for="task in tasks">{{task.number}} {{" | "}} {{task.taskId}} {{" | "}} {{task.text}} {{" | "}} {{task.isCompleted}}
            <br>
            <p>Time left: {{ getTimeLeft(task.deadline)}}</p>

            <input type="checkbox" v-model="task.isCompleted">

            <button @click="deleteTask(task.taskId)">delete</button>

            <button @click="task.isEdited=!task.isEdited">edit</button>
            <div v-if="task.isEdited">
                <input @keyup.enter="edit(task)" @keyup.esc="task.isEdited=!task.isEdited"
                    v-model.trim="task.editValue">
                <button @click="edit(task)">save</button>
                <button @click="task.isEdited=!task.isEdited">undo</button>
            </div>

        </div>
    </div>

    <script>
        const { createApp, ref } = Vue;
        createApp({
            data() {
                return {
                    today: new Date().toISOString().slice(0, 10),
                    tasks:
                        [
                            {
                                number: 0,
                                taskId: 1111111111111,
                                text: 'task text example',
                                isCompleted: true,
                                isEdited: false,
                                editValue: 'Initial task',
                                deadline: '2024-01-01',
                            }
                        ],
                }

            },
            mounted() {
                setInterval(() => {
                    this.$forceUpdate(); // Force the component to re-render every second
                }, 1000);
            },

            methods: {
              
                addTask() {
                    if (this.text !== '' && this.text.length !== 0 && this.deadline !== '' && this.deadline.length !== 0) {
                    const newTask = {
                        number: this.tasks.length,
                        taskId: Date.now(),
                        text: this.text,
                        isCompleted: this.isCompleted,
                        isEdited: this.isEdited,
                        editValue: this.text,
                        deadline: this.deadline,
                    }
                   
                        this.tasks.push(newTask);
                        this.text = '';
                        this.deadline = '';

                    }
                    else {
                        alert('error: task text and deadline cannot be empty')
                    }

                },
                deleteTask(taskId) {
                    this.tasks = this.tasks.filter(task => task.taskId !== taskId);
                },
                edit(task) {
                    task.text = task.editValue;
                    task.isEdited = false;
                },

                getTimeLeft(deadline) {
            const timeDifference = new Date(deadline).getTime() - new Date().getTime();

            const seconds = Math.floor((timeDifference / 1000) % 60);
            const minutes = Math.floor((timeDifference / (1000 * 60)) % 60);
            const hours = Math.floor((timeDifference / (1000 * 60 * 60)) % 24);
            const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24) % 30);
            const months = Math.floor(timeDifference / (1000 * 60 * 60 * 24 * 30) % 12);
            const years = Math.floor(timeDifference / (1000 * 60 * 60 * 24 * 30 * 12));
                    if (timeDifference>0){
            return `${years} years, ${months} months, ${days} days, ${hours} hours, ${minutes} minutes, ${seconds} seconds`;
                    }
                    else {
                        return 'time is over!'
                    }
        },

            }
        }).mount('#app')
    </script>
</body>

</html>
