<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

    <div id="app">

        <h1>Type in your task here:</h1>
        <input @keyup.enter="addTask()" v-model.trim="text" maxlength="200" required>
        <br>
        Deadline:
        <input type="date" v-model.trim="deadline" :min="today" required>
        <br>

        <button @click="addTask()">add task</button>
        <br>
        <div>{{"#"}} {{" | "}} {{"task ID"}} {{" | "}} {{"task status"}} {{" | "}} {{"task user text"}}
            
        </div>
        <br>
        

        <div v-for="task in tasks">
            {{task.number}} {{" | "}} {{task.taskId}} 
            <input type="checkbox" v-model="task.isCompleted"> 
            {{task.isCompleted?'completed':'not completed'}}
            <div v-if="task.isCompleted===true" style="display:none">
            {{task.text}}
            <div> Time left: {{ getTimeLeft(task.deadline)}} </div>
        </div>
        <div v-else :style="{}">
            {{task.text}}
            <div> Time left: {{ getTimeLeft(task.deadline)}} </div>
        </div>

            <button @click="deleteTask(task.taskId)">delete</button>
            
            <button @click="task.isEdited=!task.isEdited">edit</button>
            <br>
            <br>
            <div v-if="task.isEdited">
                <input @keyup.enter="edit(task)" @keyup.esc="task.isEdited=!task.isEdited"
                    v-model.trim="task.editValue">
                    <input type="date" v-model.trim="task.editDeadline" :min="today">
                <button @click="edit(task)">save</button>
                <button @click="task.isEdited=!task.isEdited">undo</button>
            </div>

        </div>
    </div>

    <script>
        const { createApp, ref } = Vue;
        createApp({
            data() {
                return {
                    today: new Date().toISOString().slice(0, 10),
                    text: '', 
                    deadline: '' ,
                    tasks:
                        [
                            {
                                number: 0,
                                taskId: 1111111111111,
                                text: 'task text example',
                                isCompleted: false,
                                isEdited: false,
                                editValue: 'Initial task',
                                deadline: '2024-02-24',
                                editDeadline: '2024-02-25'
                            }
                        ],
                }

            },
           

            methods: {
              
                addTask() {
                    
                    const newTask = {
                        number: this.tasks.length,
                        taskId: Date.now(),
                        text: this.text,
                        isCompleted: this.isCompleted,
                        isEdited: this.isEdited,
                        editValue: this.text,
                        deadline: this.deadline,
                        editDeadline: this.deadline,
                    };

                    
                    
                    if (this.text !== '' && this.text.length !== 0) {
                        this.tasks.push(newTask);
                        this.text = '';
                        this.deadline = '';

                    }

                    else {
                        alert('error: task text cannot be empty')
                    }
                },
                
                deleteTask(taskId) {
                    this.tasks = this.tasks.filter(task => task.taskId !== taskId);
                    this.tasks.forEach((task, index) => {
        task.number = index; // Update the number property after deletion
    });
                },
                edit(task) {
                    task.text = task.editValue;
                    task.deadline = task.editDeadline;
                    task.isEdited = false;
                },

                getTimeLeft(deadline) {
                    if (!deadline) {
        return 'deadline was not set for this task';
    }
                    
            const timeDifference = new Date(deadline).getTime() - new Date().getTime();

            const seconds = Math.floor((timeDifference / 1000) % 60);
            const minutes = Math.floor((timeDifference / (1000 * 60)) % 60);
            const hours = Math.floor((timeDifference / (1000 * 60 * 60)) % 24);
            const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24) % 30);
            const months = Math.floor(timeDifference / (1000 * 60 * 60 * 24 * 30) % 12);
            const years = Math.floor(timeDifference / (1000 * 60 * 60 * 24 * 30 * 12));
                    if (timeDifference>0){
            return `${years} years, ${months} months, ${days} days, ${hours} hours, ${minutes} minutes, ${seconds} seconds`;
                    }
                    else {
                        return 'time is over!'
                    }
                
        },
            },
            mounted() {
               
                setInterval(() => {
                   this.$forceUpdate(); // Force the component to re-render every second
                }, 1000);
                
            },
        }).mount('#app')
    </script>
</body>

</html>
