<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


</head>

<body>

    <div id="app">
        <h1>Type in your task here:</h1>
        <input @keyup.enter="addTask()" v-model.trim="text" maxlength="200">
        <br>
        Deadline:
        <input type="date" v-model.trim="deadline" :min="today">
        <br>

        <button @click="addTask()">add task</button>
        <br>
        <div>{{"#"}} {{" | "}} {{"task ID"}} {{" | "}} {{"task user text"}} {{" | "}}
            {{"task status"}} {{" | "}} {{"time left"}}
        </div>

        <div v-for="task in tasks">{{task.number}} {{" | "}} {{task.taskId}} {{" | "}} {{task.text}} {{" | "}} {{task.deadline}} {{" | "}} {{task.isCompleted}}

            <br>
            <br>
            <p>Time left: {{ millisecondsToHuman(new Date(task.deadline).getTime() - (new Date().getTime()))}}</p>

            <input type="checkbox" v-model="task.isCompleted">

            <button @click="deleteTask(task.taskId)">delete</button>

            <button @click="task.isEdited=!task.isEdited">Edit</button>
            <div v-if="task.isEdited">
                <input @keyup.enter="edit(task)" @keyup.esc="task.isEdited=!task.isEdited"
                    v-model.trim="task.editValue">
                <button @click="edit(task)">Save</button>
                <button @click="task.isEdited=!task.isEdited">Undo</button>
            </div>

        </div>
    </div>
    <script>
        const { createApp, ref } = Vue;
        createApp({
            data() {
                return {
                    today: new Date().toISOString().slice(0, 10),
                    tasks:
                        [
                            {
                                number: 0,
                                taskId: 1111111111111,
                                text: 'task text example',
                                isCompleted: true,
                                isEdited: false,
                                editValue: '',
                                time: 'time example',
                                deadline: '2024-01-01',
                            }
                        ],
                }

            },
            mounted() {
                setInterval(() => {
                    this.$forceUpdate(); // Force the component to re-render every second
                }, 1000);
            },

            methods: {
                addTask() {
                    const t = new Date();
                    const newTask = {
                        number: this.tasks.length,
                        taskId: Date.now(),
                        text: this.text,
                        isCompleted: this.isCompleted,
                        isEdited: this.isEdited,
                        editValue: this.text,
                        time: t.toISOString(),
                        deadline: this.deadline,
                    }
                    if (this.text !== '') {
                        this.tasks.push(newTask);
                        this.text = '';

                    }
                    else {
                        alert('error: task text field cannot be empty')
                    }

                },
                deleteTask(taskId) {
                    this.tasks = this.tasks.filter(task => task.taskId !== taskId);
                },
                edit(task) {
                    task.text = task.editValue;
                    task.isEdited = false;
                },

                millisecondsToHuman(milliseconds) {
                    const seconds = Math.floor((milliseconds / 1000) % 60);
                    const minutes = Math.floor((milliseconds / (1000 * 60)) % 60);
                    const hours = Math.floor((milliseconds / (1000 * 60 * 60)) % 24);
                    const days = Math.floor(milliseconds / (1000 * 60 * 60 * 24));

                    return `${days} days, ${hours} hours, ${minutes} minutes, ${seconds} seconds`;
                }

            }
        }).mount('#app')
    </script>
</body>

</html>
